Demo 1.2/Demonstration/obj/Debug/Demonstration.csproj.FileListAbsolute.txt
*.cache
*.suo
*.pdb
*.dll
!/Demo 1.2/packages/*/lib/*.dll
!/Demo 1.2/packages/*/lib/*/*.dll

Demo 1.2/Demonstration/obj/Debug/Demonstration.csprojResolveAssemblyReference.cache
Demo 1.2/Demonstration/Profile.aspx.designer.cs
Demo 1.2/Demonstration/obj/Debug/Demonstration.csprojResolveAssemblyReference.cache
