html{ padding:0; margin:0; height: 100%; overflow-y: scroll;}
body { margin:0; padding:0; height: 100%; color:#959595; font:normal 12px/2.0em Sans-Serif;} 
h1, h2, h3, h4, h5, h6 {color:darkblue;}
#page { background:#fff; min-height: 100%; position: relative;}
/*#header, #footer, #top-nav, #content, #content #contentbar, #content #sidebar { margin:0; padding:0;}*/
#header_meta {display: none;}

/* Logo */
#logo { padding:0; width:auto; float:left;}
#logo h1 a, h1 a:hover { color:darkblue; text-decoration:none;}
#logo h1 span { color:#d3d3f9;}

/* Header */
#header { background:#fff; padding: 10px;}
#header-inner { margin:0 auto; padding:0; width:970px;}

/* Menu */
#banner {text-align: center; height: 108px; margin-top: 0;}


/* Content */
#content {padding-bottom: 50px;}
#content a {border-bottom: 1px dotted #959595;}
#content-inner { margin:0 auto; width:970px;background:#fff;}
#content #contentbar { margin:0 auto; padding:0; width:760px;}
#content #contentbar .article { margin:0 0 24px; padding:0 20px 0 15px; }
.container {font-size: 1.5em; text-align: center;} /* Specific to signupConfirm */


/* Specific to the KML page */
#content #content-innerKML { margin:0; padding:0; float:right; width:760px;}
#content #content-innerKML .article { margin:0 0 24px; padding:0 20px 0 15px; }
#map-canvas { width: 550px; height: 450px; }

/* Footer */
#footer { background:#fff; position: absolute; bottom: 0; left: 0; width: 100%; height: 50px;}
#footer-inner { margin:auto; text-align:center;}
#footer a {color:blue;text-decoration:none;}

/* Clear both sides to assist with div alignment  */
.clr { clear:both; padding:0; margin:0; width:100%; font-size:0px; line-height:0px;}

/* Search Form */
#search { background:#d3d3f9;color:blue; width:750px;margin:auto; text-align:center;}
.search { padding-top:10px;}

#top-nav { float: right; }

#top-nav ul {
	text-align: left;
	display: inline;
	margin: 0;
	padding: 15px 0px 17px 0;
	list-style: none;
}

#top-nav ul li {
	font: bold 12px/18px sans-serif;
	display: inline-block;
	margin-right: -4px;
	position: relative;
	padding: 15px 20px;
	background: #fff;
	cursor: pointer;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}

#top-nav ul li:hover {
	background: rgb(51, 133, 255);
	color: #fff;
}

#top-nav ul li ul {
	padding: 0;
	position: absolute;
	top: 48px;
	left: 0;
	width: 150px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	display: none;
	opacity: 0;
	visibility: hidden;
	-webkit-transiton: opacity 0.2s;
	-moz-transition: opacity 0.2s;
	-ms-transition: opacity 0.2s;
	-o-transition: opacity 0.2s;
	-transition: opacity 0.2s;
}

#top-nav ul li ul li { 
	background: rgb(51, 133, 255);
	display: block; 
	color: #fff;
	text-shadow: 0 -1px 0 #000;
}

#top-nav ul li ul li:hover { 
	background: rgb(51, 133, 255);
	border-color: white;
	border-style: solid;
	border-width: 1px;
	text-decoration: none;
}

	#top-nav ul li:hover ul {
		display: block;
		opacity: 1;
		visibility: visible;
	}

a:link {
	text-decoration: none;
	color: inherit;
}

a:visited {
	text-decoration: none;
	color:inherit;
}

#advSearchLink {border-bottom: 1px dotted blue; text-decoration: none;}

#advSearch {display: none;}

#profile {text-align: center;}

#profile .profPic {float: left;}

/* For the view Jobs page */
#content #content-inner-jobs { margin:auto; padding:0; width:760px;}

#query_table {
	width: 				90%;
	margin: 			0px 0px 0px 40px;
	/*background-color: 	#00FFFF*/
}

table, th, td {
	border:				1px solid black;
}

#query_table {
	text-align: 		center;
}

/*#container tr {
	text-align: 		center;
}*/

th {
	padding: 			20px;
	margin: 			20px;
}





