			

			html, #page { padding:0; margin:0;}
			body { margin:0; padding:0; width:100%; color:#959595; font:normal 12px/2.0em Sans-Serif;} 
			h1, h2, h3, h4, h5, h6 {color:darkblue;}
			#page { background:#fff;}
			#header, #footer, #top-nav, #content, #content #contentbar, #content #sidebar { margin:0; padding:0;}
						
			/* Logo */
			#logo { padding:0; width:auto; float:left;}
			#logo h1 a, h1 a:hover { color:darkblue; text-decoration:none;}
			#logo h1 span { color:#d3d3f9;}

			/* Header */
			#header { background:#fff; }
			#header-inner { margin:0 auto; padding:0; width:970px;}
			
			/* Feature */
			.feature { background:#3385FF;padding:18px;}
			.feature-inner { margin:auto;width:970px; }
			.feature-inner h1 {color:#d3d3f9;font-size:32px;}
			
			/* Menu */
		    /* #top-nav { margin:0 auto; padding:0px 0 0; height:37px; float:right; margin-bottom: 10px;}
			#top-nav ul { list-style:none; padding:0; height:37px; float:left;}
			#top-nav ul li { margin:0; padding:0 0 0 8px; float:left;}
			#top-nav ul li a { display:block; margin:0; padding:8px 20px; color:blue; text-decoration:none;}
			#top-nav ul li.active a, #top-nav ul li a:hover { color:#d3d3f9;} */
			
			/* Content */
			#content-inner { margin:0 auto; padding:10px 0; width:970px;background:#fff;}
			#content #contentbar { margin:0; padding:0; float:right; width:760px;}
			#content #contentbar .article { margin:0 0 24px; padding:0 20px 0 15px; }
			#content #sidebar { padding:0; float:left; width:200px;}
			#content #sidebar .widget { margin:0 0 12px; padding:8px 8px 8px 13px;line-height:1.4em;}
			#content #sidebar .widget h3 a { text-decoration:none;}
			#content #sidebar .widget ul { margin:0; padding:0; list-style:none; color:#959595;}
			#content #sidebar .widget ul li { margin:0;}
			#content #sidebar .widget ul li { padding:4px 0; width:185px;}
			#content #sidebar .widget ul li a { color:blue; text-decoration:none; margin-left:-16px; padding:4px 8px 4px 16px;}
			#content #sidebar .widget ul li a:hover { color:#d3d3f9; font-weight:bold; text-decoration:none;}
			.container {font-size: 1.5em; text-align: center;} /* Specific to signupConfirm */

			/* For the view Jobs page */
			#content #content-inner-jobs { margin:auto; padding:0; width:760px;}
			#content #content-inner-jobs #article { margin:0 0 24px; padding:0 20px 0 15px; float:right; border:	thin solid #4169e1;}
			#daterun {clear:both; float:left;}
			#queryinfo {clear:both; float:right;}
			#content #sidebar img {opacity: 0.6; float: left}

			/* Specific to the KML page */
			#content #content-innerKML { margin:0; padding:0; float:right; width:760px;}
			#content #content-innerKML .article { margin:0 0 24px; padding:0 20px 0 15px; }
			#map-canvas { width: 550px; height: 450px; }
			
			/* Footerblurb */
			#footerblurb { background:#d3d3f9;color:blue;}
			#footerblurb-inner { margin: 0 auto; width:922px; padding:24px;}
			#footerblurb .column { margin:0; text-align: justify; float: left; width:248px; padding:0 24px;}
			
			/* Footer */
			#footer { background:#fff;}
			#footer-inner { margin:auto; text-align:center; padding:12px; width:922px;}
			#footer a {color:blue;text-decoration:none;}
			
			/* Clear both sides to assist with div alignment  */
			.clr { clear:both; padding:0; margin:0; width:100%; font-size:0px; line-height:0px;}

			/* Search Form */
			#search { background:#d3d3f9;color:blue; width:750px;margin:auto; text-align:center;}
			.search { padding-top:10px;}

			#top-nav { float: right; }
						
			#top-nav ul {
			  text-align: left;
			  display: inline;
			  margin: 0;
			  padding: 15px 4px 17px 0;
			  list-style: none;
			  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
			  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
			  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
			}

			#top-nav ul li {
			  font: bold 12px/18px sans-serif;
			  display: inline-block;
			  margin-right: -4px;
			  position: relative;
			  padding: 15px 20px;
			  background: #fff;
			  cursor: pointer;
			  -webkit-transition: all 0.2s;
			  -moz-transition: all 0.2s;
			  -ms-transition: all 0.2s;
			  -o-transition: all 0.2s;
			  transition: all 0.2s;
			}

			#top-nav ul li:hover {
			  background: #555;
			  color: #fff;
			}

			#top-nav ul li ul {
			  padding: 0;
			  position: absolute;
			  top: 48px;
			  left: 0;
			  width: 150px;
			  -webkit-box-shadow: none;
			  -moz-box-shadow: none;
			  box-shadow: none;
			  display: none;
			  opacity: 0;
			  visibility: hidden;
			  -webkit-transiton: opacity 0.2s;
			  -moz-transition: opacity 0.2s;
			  -ms-transition: opacity 0.2s;
			  -o-transition: opacity 0.2s;
			  -transition: opacity 0.2s;
			}

			#top-nav ul li ul li { 
			  background: #555; 
			  display: block; 
			  color: #fff;
			  text-shadow: 0 -1px 0 #000;
			}

			#top-nav ul li ul li:hover { background: #666;
			text-decoration: none; }

			#top-nav ul li:hover ul {
			  display: block;
			  opacity: 1;
			  visibility: visible;
			}
			
			a:link {
			    text-decoration: none;
				color: inherit;
			}

			a:visited {
			    text-decoration: none;
				color:inherit;
			}

			#advSearchLink {border-bottom: 1px dotted blue; text-decoration: none;}

			#advSearch {display: none;}



